# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / secrets
.env
.env.*

# Data
data/raw/*
data/processed/*

# Jupyter
.ipynb_checkpoints/

# Models
*.pkl
*.joblib
*.pt
*.pth

# OS
.DS_Store
Thumbs.db
